table {
  width: 100%;
}

.card-table {
  max-width: 100%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
